.header-container {
    height: 57px;
    display: flex;
    justify-content: center;
    padding: 0 8vw;
}
.profile-container {
    float: right;
}
.app-logo {
    letter-spacing: .1rem !important;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.css-imxc6v-MuiBadge-badge {
    top: -5px !important;
    right: -6px !important;
}