/* Cluster.css */

.clusters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Added to evenly distribute clusters */
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: rgb(245, 245, 247);
    padding: 40px 10px;
}

.cluster {
    padding: 10px 8px;
    margin: 10px 52px 58px 40px;
    width: 30vw;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(49 59 224 / 32%);
    box-shadow: rgb(49 59 224 / 32%) 1px 1px 17px 0px;
    color: white;
    opacity: 1;
    /* box-shadow: #d76365 1px 1px 17px 0px;
     */
    /* box-shadow: #dcbcfc 1px 1px 17px 0px; */



}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Added styles for chips

chip selected background: #1f6f78 !important;
*/
.chip {
    /* background-color: #287c72d9 !important;      */
    /* background-color: #8458B3 !important;

    color: white !important; */
    background: white !important;
    color: black !important;
    min-width: 152px;
    min-height: 41px;
    border-radius: 8px !important;
    font-size: 13px;
    font-weight: 700;
    margin: 5px 5px !important;
    display: flex;
    flex-flow: row-reverse;
    box-shadow: rgb(199, 147, 147) 1px 1px 7px 0px;
}

.chip:nth-child(odd) {
    margin: 5px 20px 5px 14px !important;
}

@media only screen and (max-width: 1242px) {
    .chip:nth-child(odd) {
        margin: 5px 5px !important;
    }
}

@media only screen and (min-width: 1402px) {
    .chip:nth-child(odd) {
        margin: 5px 27px 5px 14px !important;
    }
}

@media only screen and (min-width: 1870px) {
    .chip:nth-child(odd) {
        margin: 5px 5px !important;
    }
}

.chip-selected {
    background: #741ecf !important;
    color: white !important;
    box-shadow: #9c68d4 1px 1px 7px 0px;
}

.css-1ufu0uy-MuiChip-root .MuiChip-avatar {
    color: white !important;
}



.cluster-name {
    font-size: 18px;
    font-weight: 700;
    margin: 14px;
    opacity: 0.9;
    color: #191e72bd;
}

.recommendation-checkbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    opacity: 0.8;

}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 14px;
    margin-left: -7px;
    font-weight: 700;
    opacity: 0.8;
}

.css-1hbvpl3-MuiSvgIcon-root,
.css-11zohuh-MuiSvgIcon-root {
    height: 20px !important;
}

.clusters-container .css-w7jlz4 .MuiChip-avatar {
    color: white !important;
}