/* Cluster.css */

.clusters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Added to evenly distribute clusters */
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: rgb(245, 245, 247);
    padding: 40px 10px;
}

.cluster {
    padding: 10px 20px;
    margin: 10px 52px 58px 40px;
    /* width: 32vw; */
    width: 28vw;
    /* Adjusted width to fit two clusters in a row */
    box-sizing: border-box;
    border-radius: 10px;
    /* background-color: rgb(0 204 197 / 12%); */
    /* background-color: #93e4c166; */
    background-color: #d0bdf4;
    /* background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584); */
    box-shadow: #dcbcfc 1px 1px 17px 0px;



}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Added styles for chips

chip selected background: #1f6f78 !important;
*/
.chip {
    /* background-color: #287c72d9 !important;      */
    background-color: #8458B3 !important;

    color: white !important;
    min-width: 152px;
    min-height: 41px;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 700;
    margin: 5px 14px !important;
    display: flex;
    flex-flow: row-reverse;
}

.chip-selected {
    background: #741ecf !important;
}

.css-1ufu0uy-MuiChip-root .MuiChip-avatar {
    color: white !important;
}

.css-1q7gtuq-MuiButtonBase-root-MuiChip-root .MuiChip-avatar {
    color: white !important;
}

.cluster-name {
    font-size: 18px;
    font-weight: 700;
    margin: 14px;
    opacity: 0.9;
}

.recommendation-checkbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    opacity: 0.8;

}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 14px;
    margin-left: -7px;
    font-weight: 700;
    opacity: 0.8;
}

.css-1hbvpl3-MuiSvgIcon-root,.css-11zohuh-MuiSvgIcon-root {
    height: 20px !important;
}
.clusters-container .css-w7jlz4 .MuiChip-avatar {
color: white !important;
}
