.card-tile {
    margin-bottom: 25px!important;
}
.learning-type {
    background-color: #7360DF;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.course-title {
    font-size: 20px !important;
    font-weight: bold !important;
    opacity: 0.97;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    /* display: flex;
    align-items: center;
    gap: 5px; */
}

.course-description {
    opacity: 0.87;
}
.completed-course {
    color: rgba(0, 182, 0, 0.861);
    position: absolute;
    right: 14px;
    top: 183px;
}

.css-r40f8v-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.explore-btn {
    background-color: black !important;
    color: white !important;
    padding: 4px 14px !important;
    margin: 5px 10px !important;
}
.duration {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.duration-time {
    margin-left: 5px;
}
.approval {
    position: absolute;
    top: 0;
    right: 0;
    background: #FFCF00;
    padding: 5px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.87;
}